<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explorer: Armor Lookup</title>
    <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
</head>
<body>
<form method="get" action="/explorer/armor/by_name/">
   <h1 id="armor_h1">Armor Search</h1>
      <table>
          <tr>
              <th><label for="name">Armor Search</label></th>
              <th><input type="text" id="name" name="name" value="Search Name"></th>
              <th><input type="submit" value="Search Armor"></th>
          </tr>
      </table>
   </form>
</body>
</html>