<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legend of the Sonzo Dragon Object Explorer</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
<h1 id="explorer-home">Legend of the Sonzo Dragon Object Explorer</h1>
<ul>
    <li><a href="/explorer/search/player/">Lookup Player</a></li>
    <li><a href="/explorer/search/monster/">Lookup Monster</a></li>
    <li><a href="/explorer/search/weapon/">Lookup Weapon</a></li>
    <li><a href="/explorer/search/armor/">Lookup Armor</a></li>
</ul>
</body>
</html>