<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legend of the Sonzo Dragon Object Explorer</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
<h1 id="explorer-home">Legend of the Sonzo Dragon Object Explorer</h1>
<ul>
  <li><a href="/explorer/player/by_name/">Lookup Player by Name</a></li>
  <li><a href="/explorer/player/by_username/">Lookup Player by Username</a></li>
  <li><a href="/explorer/monster/">Lookup monster by Name</a></li>
</ul>
</body>
</html>