<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explorer: Player Lookup</title>
    <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
</head>
<body>
<form method="get" action="/explorer/player/by_name/">
   <h1 id="player_h1">Player Search</h1>
      <table>
          <tr>
              <th><label for="name">Player Search</label></th>
              <th><input type="text" id="name" name="name" value="Search Name"></th>
              <th><input type="submit" value="Search Player"></th>
          </tr>
      </table>
   </form>
</body>
</html>